In [1]:
import pandas as pd
import numpy as np
from math import floor

In [2]:
class IllitSexeAge:
    def clean(self):
        self.df.set_index('groupes d’âges',inplace=True)
        self.df = self.df.astype('int64')
        
        
    def __init__(self,disabilityType="AllTypes"):
        self.disabilityType = disabilityType
        filePath = os.path.join(os.path.dirname(os.getcwd()),"Ressources\\"+disabilityType+"3_2.csv")
        self.df = pd.read_csv(filePath,index_col=False)
        self.clean()
        
    def IllitAge(self):
        return self.df[["Ensemble"]]
    
    def IllitSexeAge(self):
        return self.df

In [5]:
IllitSexeAge().df

                Masculin  Féminin  Ensemble
groupes d’âges
10 - 14            11066     8933     19999
15 - 24            26524    21860     48384
25 - 34            12750    11409     24159
35 - 49            27390    25660     53050
50+               112980   141531    254511